@{
    ViewData["Title"] = "CEMIG - Mapa do Site";
}


    <div class="text-center">
       
    </div>

    <div class="text-left">
        <label style="color:red">Caso o link não funcione, provavelmente o mesmo foi excluido do site. Procure o setor de comunicação.</label>
        <a class="nav-header" style="color: rgb(153, 153, 153); font-weight:bold">Cemig</a>
        @Html.Partial("_TreeCategoriesPartial")
    </div>