@{
    ViewData["Title"] = "CEMIG - Mapa do Site";
}


    <div class="text-center">
        
    </div>

    <div class="text-left">
        <a class="nav-header" style="color: rgb(153, 153, 153)">Cemig</a>
        @Html.Partial("_TreeCategoriesPartial")
    </div>

@section Modals {
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Avaliar Página</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fecha</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}